@import Vars

.shareButton
    @include button-secondary()

.container
    // background-color: red

    height: 100%

    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center

    padding: 3rem

    section
        display: flex
        flex-direction: column
        gap: 0.6rem

        max-width: 30rem

        button
            @include button-primary()

        .shareOptions
            display: flex
            flex-direction: row
            gap: 1rem

            .shareButton
                @include button-secondary()

                justify-content: start
                width: max-content

                h4
                    margin-left: 10px
                    margin-top: 2px

        .contentFrame
            .contentTable
                padding: 0.8rem

                border: 1px solid black
                border-radius: 4px

                display: flex
                flex-direction: column
                gap: 0.6rem

                div
                    display: flex
                    gap: 0.3rem

                    a
                        @include button-secondary()

                    input
                        width: 100%
                        @include input-field()

                p
                    max-height: 10rem
                    overflow: auto

.deleteButton
    @include button-primary()        
    transition: all 0.3s ease !important

.modalBox
    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-start
    gap: 1rem

    max-width: 85vw

    > div
        display: flex
        gap: 1rem

.QRModal
    canvas
        box-shadow: 0 5px 15px #20202070
