:root
    --background: #FFF6DA
    --background-light: #DFD7C0
    --color: #4A4229
    --color-dim: #746E5C
    --color-invert: #ddd9cc
    --acc: #FFBF00
    --acc-dim: #e8c761
    
* 
    box-sizing: border-box
    padding: 0
    margin: 0

html,
body 
    max-width: 100vw
    overflow-x: hidden
    height: 100%

a 
    color: inherit
    text-decoration: none

@font-face 
    font-family: "Hammersmith"
    src: url('./fonts/Hammersmith.ttf')    

@font-face 
    font-family: "Khula"
    src: url('./fonts/Khula-Regular.ttf')    

@media (prefers-color-scheme: dark) 
    html 
        color-scheme: dark
    
body
    font-family: Hammersmith !important
    background-color: var(--background)
    color: var(--color)

button, a, input
    font-family: Hammersmith !important

#__next
    height: 100%
    display: flex
    flex-direction: column

